[submodule "third-part/hev-task-system"]
	path = third-part/hev-task-system
	url = https://github.com/heiher/hev-task-system
[submodule "third-part/yaml"]
	path = third-part/yaml
	url = https://github.com/heiher/yaml
[submodule "third-part/lwip"]
	path = third-part/lwip
	url = https://github.com/heiher/lwip
[submodule "src/core"]
	path = src/core
	url = https://github.com/heiher/hev-socks5-core
